USE [master]
GO
/****** Object:  Database [BankSavingSystem]    Script Date: 06/20/2016 22:28:33 ******/
CREATE DATABASE [BankSavingSystem] ON  PRIMARY 
( NAME = N'BankSavingSystem', FILENAME = N'D:\SQL\实例\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\BankSavingSystem.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BankSavingSystem_log', FILENAME = N'D:\SQL\实例\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\BankSavingSystem_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BankSavingSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BankSavingSystem]
GO
/****** Object:  Table [dbo].[Yonghu]    Script Date: 06/20/2016 22:28:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Yonghu](
	[no] [nvarchar](50) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[password] [char](6) NOT NULL,
	[vip] [char](1) NOT NULL,
	[idcard] [char](21) NOT NULL,
 CONSTRAINT [PK_User ] PRIMARY KEY CLUSTERED 
(
	[no] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Card]    Script Date: 06/20/2016 22:28:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Card](
	[id] [nvarchar](50) NOT NULL,
	[balance] [money] NOT NULL,
	[phone] [char](11) NULL,
	[no] [nvarchar](50) NOT NULL,
	[rate] [decimal](5, 4) NOT NULL,
	[state] [int] NOT NULL,
 CONSTRAINT [PK_Card] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Action]    Script Date: 06/20/2016 22:28:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Action](
	[no] [nvarchar](50) NOT NULL,
	[time] [nvarchar](20) NOT NULL,
	[id] [nvarchar](50) NOT NULL,
	[money] [money] NOT NULL,
	[type] [char](1) NOT NULL,
 CONSTRAINT [PK_Action] PRIMARY KEY CLUSTERED 
(
	[no] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
